<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commonlibrary">

    <application>
        <activity android:name=".view.activity.CameraActivityForH5"></activity>
        <activity android:name=".view.activity.testActivity" />
        <activity android:name=".view.activity.LightWebActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>